force-app/main/default/flows/Close_Lost_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>Move_Cancelled</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Move Cancelled</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Reason_Lost</name>
        <label>Reason Lost</label>
        <locationX>262</locationX>
        <locationY>239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancelled_Move</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Move_Cancelled</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Service_Package</targetReference>
            </connector>
            <label>Cancelled Move</label>
        </rules>
        <rules>
            <name>Other_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Move_Cancelled</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Opp_Prod_Lost</targetReference>
            </connector>
            <label>Other Reason</label>
        </rules>
    </decisions>
    <description>closes service packages and TE jobs when opportunity lost</description>
    <formulas>
        <name>Cancel_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Close Lost Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Lost Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Cancel_Opportunity_Products</name>
        <label>Cancel Opportunity Products</label>
        <locationX>691</locationX>
        <locationY>357</locationY>
        <connector>
            <targetReference>Cancel_TE_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpportunitID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_Date__c</field>
            <value>
                <elementReference>Cancel_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cancel_Service_Package</name>
        <label>Cancel Service Package</label>
        <locationX>518</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>Cancel_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpportunitID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_Date__c</field>
            <value>
                <elementReference>Cancel_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cancel_TE_Job</name>
        <label>Cancel TE Job</label>
        <locationX>858</locationX>
        <locationY>368</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpportunitID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_Date__c</field>
            <value>
                <elementReference>Cancel_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Transferee_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>forces update of all Opportunity Products</description>
        <name>Close_Opp_Prod_Lost</name>
        <label>CloseOpportunity Products</label>
        <locationX>534</locationX>
        <locationY>151</locationY>
        <connector>
            <targetReference>Close_Transferee_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpportunitID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Service_Packages</name>
        <label>Close Service Packages</label>
        <locationX>130</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>Reason_Lost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpportunitID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Transferee_Job</name>
        <label>Close Transferee Job</label>
        <locationX>704</locationX>
        <locationY>158</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpportunitID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Transferee_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>4</locationX>
        <locationY>236</locationY>
        <connector>
            <targetReference>Close_Service_Packages</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarOpportunitID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
