force-app/main/default/flows/Connect_Opportunity_With_Lead_Referrals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Find_Record</name>
        <label>Find Record?</label>
        <locationX>533</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Update_Referrals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Orig_LeadID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <description>When referrals are done when in Lead State, connect the opportunity once the lead is converted. Sets the Referral Type Filter field on the Partner Referral object from the Referral Type on the Account.</description>
    <interviewLabel>Connect Opportunity With Lead Referrals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Connect Opportunity With Lead Referrals</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_ID</name>
        <label>Get Lead ID</label>
        <locationX>390</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConvertedOpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpportunityID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Orig_LeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Referrals</name>
        <label>Update Referrals</label>
        <locationX>735</locationX>
        <locationY>61</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Orig_LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>VarOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>Partner_Referral__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Get_Lead_ID</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Orig_LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
