force-app/main/default/flows/Create_Detractor_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_detractor_response</name>
        <label>Is detractor response?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Not a detractor or case already exists</defaultConnectorLabel>
        <rules>
            <name>Create_Detractor_Case_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Delighted_Response.DelightedInc__Score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Delighted_Response.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Detractor_Case</targetReference>
            </connector>
            <label>Create Detractor Case</label>
        </rules>
    </decisions>
    <description>Create a Detractor Case for Delighted Responses with a score of 6 or lower</description>
    <interviewLabel>Create Detractor Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Detractor Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Detractor_Case</name>
        <label>Create Detractor Case</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Delighted_Response.DelightedInc__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Delighted_Response.DelightedInc__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delighted_Response__c</field>
            <value>
                <elementReference>varDelightedResponseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G630000033lQVEAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126g000000GrzIAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Delighted_Response</name>
        <label>Get Delighted Response</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_detractor_response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDelightedResponseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DelightedInc__Delighted_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Delighted_Response</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varDelightedResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
