force-app/main/default/flows/Create_TE_Job_if_DNE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>TE_Records_Count</name>
        <label>Count TE Jobs</label>
        <locationX>593</locationX>
        <locationY>70</locationY>
        <assignmentItems>
            <assignToReference>TEJobsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_TE_Jobs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Create_TE_Job</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Should_Create_TE_Job</name>
        <label>Should Create TE Job</label>
        <locationX>587</locationX>
        <locationY>233</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_TE_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TEJobsCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Create TE Job</label>
        </rules>
    </decisions>
    <interviewLabel>Create TE Job if DNE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create TE Job if DNE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_First_TE_Job</name>
        <label>Create TE Job</label>
        <locationX>748</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Opportunity.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Get_Opportunity.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination__c</field>
            <value>
                <elementReference>Get_Opportunity.Destination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <elementReference>Get_Opportunity.Origin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G6g000002n6i2EAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RMC_Account__c</field>
            <value>
                <elementReference>Get_Opportunity.RMC_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RMC_Comments__c</field>
            <value>
                <elementReference>Get_Opportunity.RMC_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RMC_File_Number__c</field>
            <value>
                <elementReference>Get_Opportunity.RMC_File_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sensitive_Move__c</field>
            <value>
                <elementReference>Get_Opportunity.Sensitive_Move__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyBot_GUID__c</field>
            <value>
                <elementReference>Get_Opportunity.SurveyBot_GUID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Transferee_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>596</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_First_TE_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TE_Jobs</name>
        <label>Get TE Jobs</label>
        <locationX>451</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TE_Records_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transferee_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_TE_Jobs</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>TEJobsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
