force-app/main/default/flows/CSM_Task_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Comp_Status</name>
        <label>Check Status</label>
        <locationX>424</locationX>
        <locationY>593</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claim In Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Move Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Date_Null</targetReference>
            </connector>
            <label>Is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Followup</name>
        <label>Check Followup</label>
        <locationX>740</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Check_Scorecard_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Followup_Task</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claim In Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Move Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Move_Followup_Task_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Followup_Task</targetReference>
            </connector>
            <label>Check Followup Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Scorecard_Task</name>
        <label>Check Scorecard Task</label>
        <locationX>1081</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>Review_Task_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supp_Scorecard_Task</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claim In Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Move Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Supplier_Scorecard_Task_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scorecard_Task</targetReference>
            </connector>
            <label>Scorecard Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>604</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Check_Followup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Invoice_Task</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claim In Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Move Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Invoice_Task_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Task</targetReference>
            </connector>
            <label>Create Invoice Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Complete_Date_Null</name>
        <label>Complete Date Null</label>
        <locationX>423</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>CSM_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_Complete_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status.Complete_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Complete_Date</targetReference>
            </connector>
            <label>Blank Complete Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>CSM_Assigned</name>
        <label>CSM Assigned</label>
        <locationX>651</locationX>
        <locationY>554</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSM_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status.CSM_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status</targetReference>
            </connector>
            <label>CSM Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Review_Task_Check</name>
        <label>Review Task Check</label>
        <locationX>1455</locationX>
        <locationY>661</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_Task_Create</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claim In Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Move Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Reviews_Task_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reviews_Task</targetReference>
            </connector>
            <label>Review Task Create</label>
        </rules>
    </decisions>
    <description>creates tasks for CSM team on BJ</description>
    <formulas>
        <name>Due_date</name>
        <dataType>DateTime</dataType>
        <expression>NOW()+ 1</expression>
    </formulas>
    <formulas>
        <name>FU_Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Move Followup for &quot; &amp; {!Get_Status.Transferee_Job__r.Opportunity__r.Primary_Contact__r.FirstName} &amp; &quot; &quot; &amp; {!Get_Status.Transferee_Job__r.Opportunity__r.Primary_Contact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>Invoice_Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Invoice for &quot; &amp; {!Get_Status.Transferee_Job__r.Opportunity__r.Primary_Contact__r.FirstName} &amp; &quot; &quot; &amp; {!Get_Status.Transferee_Job__r.Opportunity__r.Primary_Contact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>Review_Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Send Review (NPS) for &quot; &amp; {!Get_Status.Transferee_Job__r.Opportunity__r.Primary_Contact__r.FirstName} &amp; &quot; &quot; &amp; {!Get_Status.Transferee_Job__r.Opportunity__r.Primary_Contact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>Scorecard_Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Complete Supplier Scorecard for &quot; &amp; {!Get_Status.Transferee_Job__r.Opportunity__r.Primary_Contact__r.FirstName} &amp; &quot; &quot; &amp; {!Get_Status.Transferee_Job__r.Opportunity__r.Primary_Contact__r.LastName}</expression>
    </formulas>
    <interviewLabel>CSM Task Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BJ CSM Task Builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Followup_Task</name>
        <label>Followup Task</label>
        <locationX>941</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>Followup_Task_created</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FU_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Status.Transferee_Job__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Due_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FU_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Status.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Status.Transferee_Job__r.Opportunity__r.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Invoice_Task</name>
        <label>Invoice Task</label>
        <locationX>606</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>Invoice_Task_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Invoice_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Status.Transferee_Job__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Due_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Invoice_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Status.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Status.Transferee_Job__r.Opportunity__r.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Reviews_Task</name>
        <label>Reviews Task</label>
        <locationX>1671</locationX>
        <locationY>654</locationY>
        <connector>
            <targetReference>Review_Task_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Review_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Status.Transferee_Job__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Due_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Review_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Status.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Status.Transferee_Job__r.Opportunity__r.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Scorecard_Task</name>
        <label>Scorecard Task</label>
        <locationX>1312</locationX>
        <locationY>454</locationY>
        <connector>
            <targetReference>Scorecard_Task_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Scorecard_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Status.Transferee_Job__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Due_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Scorecard_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Status.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Status.Transferee_Job__r.Opportunity__r.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Status</name>
        <label>Get Status</label>
        <locationX>449</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Comp_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBookedJobID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booked_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Followup_Task_created</name>
        <label>Followup Task created</label>
        <locationX>1058</locationX>
        <locationY>283</locationY>
        <connector>
            <targetReference>Check_Scorecard_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBookedJobID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Move_Followup_Task_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Booked_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Invoice_Task_Created</name>
        <label>Invoice Task Created</label>
        <locationX>747</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>Check_Followup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBookedJobID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice_Task_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Booked_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Review_Task_Created</name>
        <label>Review Task Created</label>
        <locationX>1786</locationX>
        <locationY>654</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBookedJobID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reviews_Task_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Booked_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Scorecard_Task_Created</name>
        <label>Scorecard Task Created</label>
        <locationX>1462</locationX>
        <locationY>453</locationY>
        <connector>
            <targetReference>Review_Task_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBookedJobID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Supplier_Scorecard_Task_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Booked_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Complete_Date</name>
        <label>Set Complete Date</label>
        <locationX>662</locationX>
        <locationY>904</locationY>
        <connector>
            <targetReference>CSM_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBookedJobID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Complete_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Booked_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>42</locationX>
        <locationY>375</locationY>
        <connector>
            <targetReference>Get_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varBookedJobID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
