force-app/main/default/flows/EB_Last_Contact_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Date_Variable_BJ</name>
        <label>Assign Date Variable - BJ</label>
        <locationX>952</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>LastContactDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booked_Jobs_Tasks.CompletedDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record_with_Last_Contact_Date_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_Variable_Case</name>
        <label>Assign Date Variable - Case</label>
        <locationX>957</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>LastContactDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Tasks.CompletedDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record_with_Last_Contact_Date_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_Variable_Lead</name>
        <label>Assign Date Variable - Lead</label>
        <locationX>944</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>LastContactDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Tasks.CompletedDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record_with_Last_Contact_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_Variable_Opp</name>
        <label>Assign Date Variable - Opp</label>
        <locationX>947</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>LastContactDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp_Tasks.CompletedDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record_with_Last_Contact_Date_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WhatID_to_BookedJobID</name>
        <label>Assign WhatID to BookedJobID</label>
        <locationX>409</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>VarBookedJobID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWhatID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Opp_or_Booked_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WhatID_to_CaseID</name>
        <label>Assign WhatID to CaseID</label>
        <locationX>413</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>VarCaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWhatID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Opp_or_Booked_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WhatID_to_OppID</name>
        <label>Assign WhatID to OppID</label>
        <locationX>405</locationX>
        <locationY>85</locationY>
        <assignmentItems>
            <assignToReference>VarOppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWhatID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Opp_or_Booked_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WhoID_to_LeadID</name>
        <label>Assign WhoID to LeadID</label>
        <locationX>409</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>VarLeadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWhoID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Opp_or_Booked_Job</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lead_Opp_or_Booked_Job</name>
        <label>Lead, Opp, or Booked Job?</label>
        <locationX>573</locationX>
        <locationY>216</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarLeadID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Tasks</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarOppID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Tasks</targetReference>
            </connector>
            <label>Opp</label>
        </rules>
        <rules>
            <name>Booked_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarBookedJobID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Booked_Jobs_Tasks</targetReference>
            </connector>
            <label>Booked Job</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCaseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Tasks</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatID_Type</name>
        <label>WhatID Type</label>
        <locationX>151</locationX>
        <locationY>216</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarWhatID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WhatID_to_OppID</targetReference>
            </connector>
            <label>Opp Record</label>
        </rules>
        <rules>
            <name>Lead_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarWhoID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WhoID_to_LeadID</targetReference>
            </connector>
            <label>Lead Record</label>
        </rules>
        <rules>
            <name>Booked_Job_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarWhatID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WhatID_to_BookedJobID</targetReference>
            </connector>
            <label>Booked Job Record</label>
        </rules>
        <rules>
            <name>Case_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarWhatID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WhatID_to_CaseID</targetReference>
            </connector>
            <label>Case Record</label>
        </rules>
    </decisions>
    <interviewLabel>EB - Last Contact Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EB - Last Contact Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Booked_Jobs_Tasks</name>
        <label>Get Booked Job Tasks</label>
        <locationX>783</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Date_Variable_BJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CompletedDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarBookedJobID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CompletedDateTime</queriedFields>
        <sortField>CompletedDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Tasks</name>
        <label>Get Case Tasks</label>
        <locationX>786</locationX>
        <locationY>511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Date_Variable_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CompletedDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CompletedDateTime</queriedFields>
        <sortField>CompletedDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Tasks</name>
        <label>Get Lead Tasks</label>
        <locationX>784</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Date_Variable_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CompletedDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarLeadID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CompletedDateTime</queriedFields>
        <sortField>CompletedDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Tasks</name>
        <label>Get Opp Tasks</label>
        <locationX>784</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Date_Variable_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CompletedDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOppID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CompletedDateTime</queriedFields>
        <sortField>CompletedDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_with_Last_Contact_Date</name>
        <label>Update Record with Last Contact Date</label>
        <locationX>1143</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Contact__c</field>
            <value>
                <elementReference>LastContactDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_with_Last_Contact_Date_0</name>
        <label>Update Record with Last Contact Date</label>
        <locationX>1146</locationX>
        <locationY>221</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Contact__c</field>
            <value>
                <elementReference>LastContactDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_with_Last_Contact_Date_0_0</name>
        <label>Update Record with Last Contact Date</label>
        <locationX>1151</locationX>
        <locationY>370</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarBookedJobID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Contact__c</field>
            <value>
                <elementReference>LastContactDate</elementReference>
            </value>
        </inputAssignments>
        <object>Transferee_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_with_Last_Contact_Date_0_0_0</name>
        <label>Update Record with Last Contact Date</label>
        <locationX>1157</locationX>
        <locationY>521</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Contact__c</field>
            <value>
                <elementReference>LastContactDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>WhatID_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LastContactDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarBookedJobID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWhatID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWhoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
