force-app/main/default/flows/JBSystemFlow_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_FireJBTrigger</name>
        <label>SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd074d8d89190b3cd878bb714ccd59104</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd074d8d89190b3cd878bb714ccd59104</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Primary_Contact__c&quot;,&quot;relationshipName&quot;:&quot;Primary_Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534000336</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;VS_Reschedule_URL__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Primary_Contact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Primary_Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjc5e8129038f500c40a425f0c3399fd9d_FireJBTrigger</name>
        <label>SalesforceObjc5e8129038f500c40a425f0c3399fd9d_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Primary_Contact__c&quot;,&quot;relationshipName&quot;:&quot;Primary_Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjc5e8129038f500c40a425f0c3399fd9d</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534000336</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Markup_URL__c&quot;,&quot;Markup_Sent__c&quot;,&quot;Markup_Status__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Primary_Contact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Primary_Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjd074d8d89190b3cd878bb714ccd59104_FireJBTrigger</name>
        <label>SalesforceObjd074d8d89190b3cd878bb714ccd59104_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Primary_Contact__c&quot;,&quot;relationshipName&quot;:&quot;Primary_Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjd074d8d89190b3cd878bb714ccd59104</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534000336</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;dePrefix&quot;:&quot;Opportunity:CreatedBy:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;StageName&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Primary_Contact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Primary_Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_FireJBTrigger</name>
        <label>SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc5e8129038f500c40a425f0c3399fd9d</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc5e8129038f500c40a425f0c3399fd9d</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Primary_Contact__c&quot;,&quot;relationshipName&quot;:&quot;Primary_Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjdac6f5d28236ff988d9f791a1cc26c50</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534000336</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;StageName&quot;,&quot;Markup_URL__c&quot;,&quot;Markup_Sent__c&quot;,&quot;Markup_Status__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Primary_Contact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Primary_Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55</name>
        <label>JB_Decision_Null_Check_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd074d8d89190b3cd878bb714ccd59104</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjd074d8d89190b3cd878bb714ccd59104</targetReference>
            </connector>
            <label>JB_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjc5e8129038f500c40a425f0c3399fd9d</name>
        <label>JB_Decision_Null_Check_SalesforceObjc5e8129038f500c40a425f0c3399fd9d</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjc5e8129038f500c40a425f0c3399fd9d_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55</targetReference>
            </connector>
            <label>JB_SalesforceObjc5e8129038f500c40a425f0c3399fd9d_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjc5e8129038f500c40a425f0c3399fd9d_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjc5e8129038f500c40a425f0c3399fd9d_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjc5e8129038f500c40a425f0c3399fd9d_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjc5e8129038f500c40a425f0c3399fd9d_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjc5e8129038f500c40a425f0c3399fd9d_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjc5e8129038f500c40a425f0c3399fd9d_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjd074d8d89190b3cd878bb714ccd59104</name>
        <label>JB_Decision_Null_Check_SalesforceObjd074d8d89190b3cd878bb714ccd59104</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjd074d8d89190b3cd878bb714ccd59104_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjd074d8d89190b3cd878bb714ccd59104_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjd074d8d89190b3cd878bb714ccd59104_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd074d8d89190b3cd878bb714ccd59104_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjd074d8d89190b3cd878bb714ccd59104_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjd074d8d89190b3cd878bb714ccd59104_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd074d8d89190b3cd878bb714ccd59104_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjd074d8d89190b3cd878bb714ccd59104_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50</name>
        <label>JB_Decision_Null_Check_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc5e8129038f500c40a425f0c3399fd9d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjc5e8129038f500c40a425f0c3399fd9d</targetReference>
            </connector>
            <label>JB_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_Decision</name>
        <label>JB_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd074d8d89190b3cd878bb714ccd59104</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule Video Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_State_change_Decision</name>
        <label>JB_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd074d8d89190b3cd878bb714ccd59104</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule Video Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjc5e8129038f500c40a425f0c3399fd9d_Decision</name>
        <label>JB_SalesforceObjc5e8129038f500c40a425f0c3399fd9d_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjc5e8129038f500c40a425f0c3399fd9d</name>
            <conditionLogic>(1 AND  ( (2 AND 3)  AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0064V00001FexlZQAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Markup_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Markup_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjc5e8129038f500c40a425f0c3399fd9d_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjc5e8129038f500c40a425f0c3399fd9d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjc5e8129038f500c40a425f0c3399fd9d_State_change_Decision</name>
        <label>JB_SalesforceObjc5e8129038f500c40a425f0c3399fd9d_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4ce7bb2cea985e93e7a158653d8c3d55</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjc5e8129038f500c40a425f0c3399fd9d</name>
            <conditionLogic>NOT  (1 AND  ( (2 AND 3)  AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0064V00001FexlZQAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Markup_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Markup_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjc5e8129038f500c40a425f0c3399fd9d_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjc5e8129038f500c40a425f0c3399fd9d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd074d8d89190b3cd878bb714ccd59104_Decision</name>
        <label>JB_SalesforceObjd074d8d89190b3cd878bb714ccd59104_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjd074d8d89190b3cd878bb714ccd59104</name>
            <conditionLogic>(1 AND  ( ( (2 AND 3)  AND 4)  AND 5) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0064V00001FexlZQAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Markup_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Markup_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjd074d8d89190b3cd878bb714ccd59104_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjd074d8d89190b3cd878bb714ccd59104</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd074d8d89190b3cd878bb714ccd59104_State_change_Decision</name>
        <label>JB_SalesforceObjd074d8d89190b3cd878bb714ccd59104_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjd074d8d89190b3cd878bb714ccd59104</name>
            <conditionLogic>NOT  (1 AND  ( ( (2 AND 3)  AND 4)  AND 5) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0064V00001FexlZQAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Markup_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Markup_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd074d8d89190b3cd878bb714ccd59104_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjd074d8d89190b3cd878bb714ccd59104</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_Decision</name>
        <label>JB_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc5e8129038f500c40a425f0c3399fd9d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjdac6f5d28236ff988d9f791a1cc26c50</name>
            <conditionLogic>(1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Markup_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Markup_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjdac6f5d28236ff988d9f791a1cc26c50</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_State_change_Decision</name>
        <label>JB_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc5e8129038f500c40a425f0c3399fd9d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50</name>
            <conditionLogic>NOT  (1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Markup_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Markup_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjdac6f5d28236ff988d9f791a1cc26c50</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
