force-app/main/default/flows/Lead_Status_Tracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>177</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pending_Contact</targetReference>
            </connector>
            <label>Pending Contact</label>
        </rules>
        <rules>
            <name>Future_Followup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future Followup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Future_Followup</targetReference>
            </connector>
            <label>Future Followup</label>
        </rules>
        <rules>
            <name>NA_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Needs Assessment Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NA_Scheduled</targetReference>
            </connector>
            <label>NA Scheduled</label>
        </rules>
        <rules>
            <name>Closed_Unqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unqualified</targetReference>
            </connector>
            <label>Closed - Unqualified</label>
        </rules>
        <rules>
            <name>Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Data.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Converted</targetReference>
            </connector>
            <label>Converted</label>
        </rules>
    </decisions>
    <description>updates Service Delivery Stage Tracking object with lead status changes</description>
    <interviewLabel>Lead Status Tracking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Status Tracking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Data</name>
        <label>Get Lead Data</label>
        <locationX>181</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Converted</name>
        <label>Update Converted</label>
        <locationX>121</locationX>
        <locationY>689</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>L_Converted__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_Unqualified__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Lead_Data.ConvertedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Future_Followup</name>
        <label>Update Future Followup</label>
        <locationX>465</locationX>
        <locationY>329</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>L_Converted__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>L_Future_Followup__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_NA_Scheduled__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>L_Unqualified__c</field>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NA_Scheduled</name>
        <label>Update NA Scheduled</label>
        <locationX>458</locationX>
        <locationY>510</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>L_Converted__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>L_NA_Scheduled__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_Unqualified__c</field>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pending_Contact</name>
        <label>Update Pending Contact</label>
        <locationX>463</locationX>
        <locationY>148</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>L_Converted__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>L_Future_Followup__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>L_NA_Scheduled__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>L_Pending_Contact__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_Unqualified__c</field>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unqualified</name>
        <label>Update Unqualified</label>
        <locationX>352</locationX>
        <locationY>710</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>L_Converted__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>L_Unqualified__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MC_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Lead_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
