force-app/main/default/flows/Opportunity_Stage_Tracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>240</locationX>
        <locationY>405</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pending_Contact</targetReference>
            </connector>
            <label>Pending Contact</label>
        </rules>
        <rules>
            <name>Future_Followup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future Followup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Future_Followup</targetReference>
            </connector>
            <label>Future Followup</label>
        </rules>
        <rules>
            <name>NA_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Needs Assessment Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NA_Scheduled</targetReference>
            </connector>
            <label>NA Scheduled</label>
        </rules>
        <rules>
            <name>Reschedule_NA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule Needs Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reschedule_NA</targetReference>
            </connector>
            <label>Reschedule NA</label>
        </rules>
        <rules>
            <name>Reschedule_VS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule Video Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reschedule_VS</targetReference>
            </connector>
            <label>Reschedule VS</label>
        </rules>
        <rules>
            <name>VS_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Video Survey Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_VS_Scheduled</targetReference>
            </connector>
            <label>VS Scheduled</label>
        </rules>
        <rules>
            <name>Inventory_Verification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inventory Verification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inventory_Verification</targetReference>
            </connector>
            <label>Inventory Verification</label>
        </rules>
        <rules>
            <name>Quote_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Requested</targetReference>
            </connector>
            <label>Quote Requested</label>
        </rules>
        <rules>
            <name>Quote_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Ready</targetReference>
            </connector>
            <label>Quote Ready</label>
        </rules>
        <rules>
            <name>Quote_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Sent</targetReference>
            </connector>
            <label>Quote Sent</label>
        </rules>
        <rules>
            <name>Job_Booked</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job Booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Quote Selected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Booked</targetReference>
            </connector>
            <label>Job Booked</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Closed_Lost</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
        <rules>
            <name>Closed_Referral_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Referral Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Closed_Referral_Only</targetReference>
            </connector>
            <label>Closed Referral Only</label>
        </rules>
        <rules>
            <name>Referral_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Referral_Pending</targetReference>
            </connector>
            <label>Referral Pending</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity Stage Tracking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Stage Tracking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>247</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Closed_Lost</name>
        <label>Update Closed Lost</label>
        <locationX>50</locationX>
        <locationY>592</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>O_Closed_Lost__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Referral_Only__c</field>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Closed_Referral_Only</name>
        <label>Update Closed Referral Only</label>
        <locationX>192</locationX>
        <locationY>616</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISR_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Referral_Only__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Future_Followup</name>
        <label>Update Future Followup</label>
        <locationX>784</locationX>
        <locationY>91</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISR_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Lost__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Referral_Only__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Future_Followup__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Inventory_Verification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Job_Booked__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_NA_Scheduled__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Ready__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Requested__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Sent__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Reschedule_NA__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Reschedule_VS__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_VS_Scheduled__c</field>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inventory_Verification</name>
        <label>Update Inventory Verification</label>
        <locationX>1031</locationX>
        <locationY>513</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISR_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Lost__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Referral_Only__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Inventory_Verification__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Job_Booked__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Ready__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Requested__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Sent__c</field>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_Booked</name>
        <label>Update Job Booked</label>
        <locationX>316</locationX>
        <locationY>688</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISR_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Lost__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Referral_Only__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Job_Booked__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NA_Scheduled</name>
        <label>Update NA Scheduled</label>
        <locationX>956</locationX>
        <locationY>120</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISR_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Lost__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Referral_Only__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Inventory_Verification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Job_Booked__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_NA_Scheduled__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Ready__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Requested__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Sent__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Reschedule_NA__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Reschedule_VS__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_VS_Scheduled__c</field>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pending_Contact</name>
        <label>Update Pending Contact</label>
        <locationX>664</locationX>
        <locationY>36</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISR_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Lost__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Referral_Only__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Future_Followup__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Inventory_Verification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Job_Booked__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_NA_Scheduled__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Pending_Contact__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Ready__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Requested__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Sent__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Reschedule_NA__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Reschedule_VS__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_VS_Scheduled__c</field>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Ready</name>
        <label>Update Quote Ready</label>
        <locationX>815</locationX>
        <locationY>686</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISR_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Lost__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Referral_Only__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Job_Booked__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Ready__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Sent__c</field>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Requested</name>
        <label>Update Quote Requested</label>
        <locationX>910</locationX>
        <locationY>601</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISR_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Lost__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Referral_Only__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Job_Booked__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Ready__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Requested__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Sent__c</field>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Sent</name>
        <label>Update Quote Sent</label>
        <locationX>453</locationX>
        <locationY>659</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISR_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Lost__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Referral_Only__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Job_Booked__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Referral_Pending</name>
        <label>Update Referral Pending</label>
        <locationX>1073</locationX>
        <locationY>180</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISR_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MC_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Lost__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Referral_Only__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Inventory_Verification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Job_Booked__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Ready__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Requested__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Sent__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Referral_Pending__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reschedule_NA</name>
        <label>Update Reschedule NA</label>
        <locationX>1179</locationX>
        <locationY>236</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISR_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Lost__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Referral_Only__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Inventory_Verification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Job_Booked__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Ready__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Requested__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Sent__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Reschedule_NA__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Reschedule_VS__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_VS_Scheduled__c</field>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reschedule_VS</name>
        <label>Update Reschedule VS</label>
        <locationX>1304</locationX>
        <locationY>322</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISR_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Lost__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Referral_Only__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Inventory_Verification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Job_Booked__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Ready__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Requested__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Sent__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Reschedule_VS__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_VS_Scheduled__c</field>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_VS_Scheduled</name>
        <label>Update VS Scheduled</label>
        <locationX>1188</locationX>
        <locationY>451</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISR_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Lost__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Closed_Referral_Only__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Inventory_Verification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Job_Booked__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Ready__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Requested__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_Quote_Sent__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>O_VS_Scheduled__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Delivery_Stage_Tracking__c</object>
    </recordUpdates>
    <start>
        <locationX>120</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
