force-app/main/default/flows/Quote_Ready_State.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Date_Ready</name>
        <label>Date Ready</label>
        <locationX>628</locationX>
        <locationY>67</locationY>
        <assignmentItems>
            <assignToReference>DateReady</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Stage.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Days</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Days</name>
        <label>Check Days</label>
        <locationX>764</locationX>
        <locationY>64</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MoreThan3Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateReady</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>ReadyMoreThan3Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Follow_Up_Task</targetReference>
            </connector>
            <label>MoreThan3Days</label>
        </rules>
    </decisions>
    <description>create a reminder task when quote has been ready for more than 3 days</description>
    <formulas>
        <name>ReadyMoreThan3Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-3</expression>
    </formulas>
    <interviewLabel>Quote Ready State {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Ready State</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Quote_Follow_Up_Task</name>
        <label>Quote Follow Up Task</label>
        <locationX>1020</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Update_Quote_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Quote has been ready for more than 3 days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssignTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Quote Ready More Than 3 Days Ago</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VarOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varTEName</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Stage</name>
        <label>Get Stage</label>
        <locationX>463</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Date_Ready</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote Ready</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityHistory</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Flag</name>
        <label>Update Quote Flag</label>
        <locationX>1193</locationX>
        <locationY>63</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote_Ready_Delay__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Stage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateReady</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTEName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
