force-app/main/default/flows/Reassign_Open_Tasks_on_Owner_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Svc_Account</name>
        <label>Make Svc Account the RecordOwnerId</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>VarRecordOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0056g000005Uo5JAAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Valid_Ids_Provided</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Valid_Ids_Provided</name>
        <label>Are Valid Ids Provided</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarWhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0126g000000GrzYAAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Open_Task_Assignments</targetReference>
            </connector>
            <label>Yes - using WhatId</label>
        </rules>
        <rules>
            <name>Yes_using_WhoId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarWhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0126g000000GrzTAAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Open_Task_Assignments_0</targetReference>
            </connector>
            <label>Yes- using WhoId</label>
        </rules>
    </decisions>
    <decisions>
        <name>OwnerId_is_not_Queue_Id</name>
        <label>OwnerId is Valid User Id</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_User_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarRecordOwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordOwner_IsActive</name>
        <label>RecordOwner IsActive</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_Svc_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive or Not Found</defaultConnectorLabel>
        <rules>
            <name>RecordOwnerIsActiveTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_0_0.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_Valid_Ids_Provided</targetReference>
            </connector>
            <label>IsActive</label>
        </rules>
    </decisions>
    <description>Kicking &apos;IsActive&apos; filtering further down the flow so that GetRecords(User) can succeed. If this user isn&apos;t active, then use the service account instead.

Fixed typo in one step, because I&apos;m OCD like that</description>
    <interviewLabel>Reassign Open Tasks on Owner Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reassign Open Tasks on Owner Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_0_0</name>
        <label>Get User</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordOwner_IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRecordOwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Open_Task_Assignments</name>
        <label>Update Open Task Assignments</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarWhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>VarRecordOwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VarRecordOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Open_Task_Assignments_0</name>
        <label>Update Open Task Assignments</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarWhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>VarRecordOwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VarRecordOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OwnerId_is_not_Queue_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>TasksCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarRecordOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
