force-app/main/default/flows/Set_Partner_Referral_Type_Filter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Get_Partner_Referral_Type</name>
        <label>Get Partner Referral Type</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>PartnerAccountReferralType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Referral_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Referral_Type_Should_Be_Updated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Partner_Referral_Type_Should_Be_Updated</name>
        <label>Partner Referral Needs Update</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner_Referral_Type_Does_Not_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_Type_Filter__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PartnerAccountReferralType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Referral_Type_Filter_Field</targetReference>
            </connector>
            <label>Partner Referral Type Does Not Match</label>
        </rules>
    </decisions>
    <interviewLabel>Set Partner Referral Type Filter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Partner Referral Type Filter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Referral_Type_Filter_Field</name>
        <label>Set Referral Type Filter Field</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referral_Type_Filter__c</field>
            <value>
                <elementReference>PartnerAccountReferralType</elementReference>
            </value>
        </inputAssignments>
        <object>Partner_Referral__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Partner_Referral_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Partner_Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PartnerAccountReferralType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
