force-app/main/default/flows/Set_Opportunity_Max_Event_Start_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Start_Date_to_Variable</name>
        <label>Assign Start Date to Variable</label>
        <locationX>1014</locationX>
        <locationY>144</locationY>
        <assignmentItems>
            <assignToReference>MaxStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventLoopSingle.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Event_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Start_Date_to_Variable_0</name>
        <label>Assign Start Date to Variable</label>
        <locationX>1007</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>MaxStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventLoopSingle.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Event_Loop_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opportunity_or_Lead</name>
        <label>Opportunity or Lead</label>
        <locationX>203</locationX>
        <locationY>370</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarOppID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Events</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarLeadID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Events_0</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Date_Greater_than_Variable</name>
        <label>Start Date Greater than Variable?</label>
        <locationX>811</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Event_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than Current Max</defaultConnectorLabel>
        <rules>
            <name>New_Max_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventLoopSingle.StartDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Start_Date_to_Variable</targetReference>
            </connector>
            <label>New Max Found</label>
        </rules>
        <rules>
            <name>Variable_not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaxStartDate</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Start_Date_to_Variable</targetReference>
            </connector>
            <label>Variable Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Date_Greater_than_Variable_0</name>
        <label>Start Date Greater than Variable?</label>
        <locationX>804</locationX>
        <locationY>524</locationY>
        <defaultConnector>
            <targetReference>Event_Loop_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than Current Max</defaultConnectorLabel>
        <rules>
            <name>New_Max_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventLoopSingle.StartDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Start_Date_to_Variable_0</targetReference>
            </connector>
            <label>New Max Found</label>
        </rules>
        <rules>
            <name>Variable_not_Set_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaxStartDate</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Start_Date_to_Variable_0</targetReference>
            </connector>
            <label>Variable Not Set</label>
        </rules>
    </decisions>
    <description>Triggered via PB when Event Assigned to an Opportunity. Evaluates the MAX Start Date of all Events on the Opportunity and assigns the Max date to the Max Start Date field on the Opportunity.</description>
    <interviewLabel>Set Opportunity Max Event Start Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Opportunity Max Event Start Date</label>
    <loops>
        <name>Event_Loop</name>
        <label>Event Loop</label>
        <locationX>608</locationX>
        <locationY>144</locationY>
        <assignNextValueToReference>EventLoopSingle</assignNextValueToReference>
        <collectionReference>Get_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Start_Date_Greater_than_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_Max_Start_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Event_Loop_0</name>
        <label>Event Loop</label>
        <locationX>601</locationX>
        <locationY>617</locationY>
        <assignNextValueToReference>EventLoopSingle</assignNextValueToReference>
        <collectionReference>Get_Events_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Start_Date_Greater_than_Variable_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_Max_Start_Date_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all Events with the same Opp ID as the triggering Event</description>
        <name>Get_Events</name>
        <label>Get Events</label>
        <locationX>429</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOppID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all Events with the same Opp ID as the triggering Event</description>
        <name>Get_Events_0</name>
        <label>Get Events</label>
        <locationX>423</locationX>
        <locationY>617</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Loop_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarLeadID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Max_Start_Date</name>
        <label>Update Opportunity Max Start Date</label>
        <locationX>608</locationX>
        <locationY>327</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Max_Event_Start_Date_Time__c</field>
            <value>
                <elementReference>MaxStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Max_Start_Date_0</name>
        <label>Update Opportunity Max Start Date</label>
        <locationX>601</locationX>
        <locationY>800</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Max_Event_Start_Date_Time__c</field>
            <value>
                <elementReference>MaxStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>Opportunity_or_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EventLoopSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>MaxStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
