force-app/main/default/flows/Update_MC_ISR_and_CSM_Owners_if_deactivated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>SalesforceSystemUser</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0056g000005Uo5J</stringValue>
        </value>
    </constants>
    <interviewLabel>Update MC, ISR and CSM Owners if deactivated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update MC, ISR and CSM Owners if deactivated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateCSMOwner</name>
        <label>UpdateCSMOwnerOpp</label>
        <locationX>509</locationX>
        <locationY>146</locationY>
        <connector>
            <targetReference>UpdateOpptyOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CSM_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSM_Owner__c</field>
            <value>
                <elementReference>SalesforceSystemUser</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateISROwner</name>
        <label>UpdateISROwnerOpp</label>
        <locationX>356</locationX>
        <locationY>109</locationY>
        <connector>
            <targetReference>UpdateCSMOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ISR_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISR_Owner__c</field>
            <value>
                <elementReference>SalesforceSystemUser</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMoveCoachOwner</name>
        <label>UpdateMoveCoachOwnerOpp</label>
        <locationX>205</locationX>
        <locationY>75</locationY>
        <connector>
            <targetReference>UpdateISROwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Move_Coach_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Move_Coach_Owner__c</field>
            <value>
                <elementReference>SalesforceSystemUser</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpptyOwner</name>
        <label>UpdateOpptyOwner</label>
        <locationX>663</locationX>
        <locationY>187</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SalesforceSystemUser</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>43</locationX>
        <locationY>95</locationY>
        <connector>
            <targetReference>UpdateMoveCoachOwner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EBAdminId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SystemUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
