force-app/main/default/flows/Update_SurveyBot_URL_On_Task_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Is_Still_Updatable_0</name>
        <label>Is Still Updatable</label>
        <locationX>578</locationX>
        <locationY>589</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Valid_URL_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyBot_URL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_s_SurveyBot_URL</targetReference>
            </connector>
            <label>Has Valid URL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Object_Type</name>
        <label>Related Object Type</label>
        <locationX>578</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SurveyBot_URL_From_Lead</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
        <rules>
            <name>Is_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SurveyBot_URL_from_Opportunity</targetReference>
            </connector>
            <label>Is Opportunity</label>
        </rules>
        <rules>
            <name>Is_Booked_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a01</stringValue>
                </rightValue>
            </conditions>
            <label>Is Booked Job</label>
        </rules>
        <rules>
            <name>Is_Transferee_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a06</stringValue>
                </rightValue>
            </conditions>
            <label>Is Transferee Job</label>
        </rules>
    </decisions>
    <interviewLabel>Update SurveyBot URL On Task Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update SurveyBot URL On Task Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SurveyBot_URL_From_Lead</name>
        <label>Get SurveyBot URL From Lead</label>
        <locationX>50</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Still_Updatable_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>SurveyBot_URL</assignToReference>
            <field>SurveyBot_URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SurveyBot_URL_from_Opportunity</name>
        <label>Get SurveyBot URL from Opportunity</label>
        <locationX>314</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Still_Updatable_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>SurveyBot_URL</assignToReference>
            <field>SurveyBot_URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_s_SurveyBot_URL</name>
        <label>Update Task&apos;s SurveyBot URL</label>
        <locationX>446</locationX>
        <locationY>709</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SurveyBot_URL__c</field>
            <value>
                <elementReference>SurveyBot_URL</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_Object_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyBot_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SurveyBot_URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
