force-app/main/default/flows/Update_lead_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Increment_Contacted_Count_variable</name>
        <label>Increment Contacted Count variable</label>
        <locationX>1004</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>IncrementContactedVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_variable</name>
        <label>Increment variable</label>
        <locationX>916</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>Incrementvariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_disposition</name>
        <label>Check disposition</label>
        <locationX>1001</locationX>
        <locationY>84</locationY>
        <defaultConnector>
            <targetReference>Loop_over_tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTaskRecord.Call_Result__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Attempt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_variable</targetReference>
            </connector>
            <label>If call result is &apos;attempt&apos;</label>
        </rules>
        <rules>
            <name>If_call_result_is_contacted_or_disposition_needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getTaskRecord.Call_Result__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Disposition Needed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getTaskRecord.Call_Result__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Contacted_Count_variable</targetReference>
            </connector>
            <label>If call result is &apos;contacted&apos; or &apos;disposition needed&apos;</label>
        </rules>
    </decisions>
    <interviewLabel>Update lead record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update lead record</label>
    <loops>
        <name>Loop_over_tasks</name>
        <label>Loop over tasks</label>
        <locationX>600</locationX>
        <locationY>83</locationY>
        <assignNextValueToReference>getTaskRecord</assignNextValueToReference>
        <collectionReference>getTaskRecordList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_disposition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_lead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_tasks</name>
        <label>Get all tasks</label>
        <locationX>390</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>getTaskRecordList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CallDisposition</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Call_Result__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_lead</name>
        <label>Update lead</label>
        <locationX>602</locationX>
        <locationY>283</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attempts__c</field>
            <value>
                <elementReference>Incrementvariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contacted_Count__c</field>
            <value>
                <elementReference>IncrementContactedVariable</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_all_tasks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>getTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>getTaskRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>IncrementContactedVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Incrementvariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
