force-app/main/default/flows/Update_Open_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_WhatID_to_BookedJobID</name>
        <label>Assign WhatID to BookedJobID</label>
        <locationX>648</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>VarBookedJobID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWhatID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Opp_or_Booked_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WhatID_to_CaseID</name>
        <label>Assign WhatID to CaseID</label>
        <locationX>652</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>VarCaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWhatID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Opp_or_Booked_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WhatID_to_OppID</name>
        <label>Assign WhatID to OppID</label>
        <locationX>644</locationX>
        <locationY>85</locationY>
        <assignmentItems>
            <assignToReference>VarOppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWhatID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Opp_or_Booked_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WhoID_to_LeadID</name>
        <label>Assign WhoID to LeadID</label>
        <locationX>648</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>VarLeadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarWhoID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Opp_or_Booked_Job</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lead_Opp_or_Booked_Job</name>
        <label>Lead, Opp, or Booked Job?</label>
        <locationX>812</locationX>
        <locationY>216</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarLeadID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_with_Last_Contact_Date</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarOppID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_with_Last_Contact_Date_0</targetReference>
            </connector>
            <label>Opp</label>
        </rules>
        <rules>
            <name>Booked_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarBookedJobID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_with_Last_Contact_Date_0_0</targetReference>
            </connector>
            <label>Booked Job</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCaseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_with_Last_Contact_Date_0_0_0</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatID_Type</name>
        <label>WhatID Type</label>
        <locationX>390</locationX>
        <locationY>216</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarWhatID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WhatID_to_OppID</targetReference>
            </connector>
            <label>Opp Record</label>
        </rules>
        <rules>
            <name>Lead_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarWhoID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WhoID_to_LeadID</targetReference>
            </connector>
            <label>Lead Record</label>
        </rules>
        <rules>
            <name>Booked_Job_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarWhatID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WhatID_to_BookedJobID</targetReference>
            </connector>
            <label>Booked Job Record</label>
        </rules>
        <rules>
            <name>Case_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarWhatID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WhatID_to_CaseID</targetReference>
            </connector>
            <label>Case Record</label>
        </rules>
    </decisions>
    <interviewLabel>Update Open Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Open Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Record_with_Last_Contact_Date</name>
        <label>Update Record with Last Contact Date</label>
        <locationX>1124</locationX>
        <locationY>49</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_TaskID__c</field>
            <value>
                <elementReference>VarTaskID</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_with_Last_Contact_Date_0</name>
        <label>Update Record with Last Contact Date</label>
        <locationX>1247</locationX>
        <locationY>146</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_TaskID__c</field>
            <value>
                <elementReference>VarTaskID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_with_Last_Contact_Date_0_0</name>
        <label>Update Record with Last Contact Date</label>
        <locationX>1191</locationX>
        <locationY>334</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarBookedJobID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_TaskID__c</field>
            <value>
                <elementReference>VarTaskID</elementReference>
            </value>
        </inputAssignments>
        <object>Transferee_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_with_Last_Contact_Date_0_0_0</name>
        <label>Update Record with Last Contact Date</label>
        <locationX>964</locationX>
        <locationY>424</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_TaskID__c</field>
            <value>
                <elementReference>VarTaskID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>WhatID_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>LastContactDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarBookedJobID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWhatID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWhoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
