force-app/main/default/flows/Vehicle_Quote_Service_Package_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Pass_Service_Package_Id</name>
        <label>Pass Service Package Id</label>
        <locationX>962</locationX>
        <locationY>69</locationY>
        <actionName>VehicleService</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>data</name>
            <value>
                <elementReference>varServicePackageID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>Pass Service Package Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varVehicleQuoteID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Service_Package_ID</name>
        <label>Assign Service Package ID</label>
        <locationX>608</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>varServicePackageID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Package.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Package.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Vehicle_Quote</targetReference>
        </connector>
    </assignments>
    <description>updates the vehicle quote with the service package id</description>
    <interviewLabel>Vehicle Quote Service Package UPdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vehicle Quote Service Package Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Package</name>
        <label>Get Service Package</label>
        <locationX>429</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Service_Package_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Quotes__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVehicleQuoteID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vehicle_Quote</name>
        <label>Update Vehicle Quote</label>
        <locationX>770</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Pass_Service_Package_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVehicleQuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varQuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Package__c</field>
            <value>
                <elementReference>varServicePackageID</elementReference>
            </value>
        </inputAssignments>
        <object>Vehicle_Quotes__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Service_Package</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varQuoteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServicePackageID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVehicleQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
